/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(
        217deg,
        rgba(255, 0, 0, 0.8),
        rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    margin: 0;
    padding: 0;
    color: #333; /* Cambio de color para las letras */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff00;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para encabezados */
h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px; /* Espacio entre el título y otros elementos */
}

/* Estilos para etiquetas */
label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Cambiado a un tono más oscuro */
    font-size: 16px; /* Tamaño de fuente aumentado */
    font-weight: bold; /* Fuente en negrita */
}

/* Estilos para campos de entrada */
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilos para mensajes de error */
.error-message {
    color: red;
    margin-bottom: 10px;
}

/* Estilos para botones */
button {
    width: 100%;
    padding: 10px;
    background-color: #ac47ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Espacio superior entre botones y otros elementos */
}


/* Estilos para tablas */
/* Estilo para tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Estilo para celdas de encabezado */
th {
    background-color: #f2f2f2; /* Color de fondo */
    font-weight: bold; /* Texto en negrita */
    text-align: left; /* Alineación del texto */
    padding: 8px; /* Espaciado interno */
    border: 1px solid #9265ff; /* Borde */
}

/* Estilo para celdas de datos */
td {
    padding: 8px; /* Espaciado interno */
    border: 1px solid #9265ff; /* Borde */
}


/* Estilos para filas alternas en la tabla */
#tablaResultados tr:nth-child(even) {
    background-color: #b38bff;
}

#tablaResultados tr:nth-child(odd) {
    background-color: #cfb1ff;
}

button {
    width: 20%;
    padding: 8px;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 320px; /* Mover gradualmente hacia la izquierda */
}

button:hover {
    background-color: #e73cde;
}
